@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .textColor {
    color: #64dcdd;
  }

  .trans {
    transition: 1s ease-in-out;
  }

  .flex-all {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bi {
    color: whitesmoke;
    font-size: 16px;
  }

  .flex-bet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .letter {
    letter-spacing: 1px;
  }

  .flex-colm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .space {
    word-spacing: 2px;
  }
  .shadow{
    filter: drop-shadow(0 0 5px #64dcdd);
  }
  .snap{
    scroll-snap-type: y mandatory;
    overflow-y:scroll ;
    height: 100vh;
  }
  .lineSp{
    line-height: 37px !important;
  }
}
.section{
  scroll-snap-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}

body {
  background-color: #050505;
  color: whitesmoke;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}

.animate-span span {
  display: inline-block;
}

.animate-span span:nth-child(odd) {
  animation: up 2s ease-in-out;
}

.animate-span span:nth-child(even) {
  animation: down 2s ease-in-out;
}

@keyframes up {
  0% {
    transform: translateY(-130px);
    color: whitesmoke;
  }

  100% {
    display: inline-block;
    transform: translateY(0px);
  }
}

@keyframes down {
  0% {
    transform: translateY(130px);
    color: whitesmoke;
  }

  100% {
    display: inline-block;
    transform: translateY(0px);
  }
}

.word-spacing span {
  letter-spacing: 3px;
}

.widtheff {
  transition: all 1s ease-in-out;
  width: 90%;
}

.animation-full {
  animation: full 2s 1 ease-in-out;
  animation-delay: 3s;
  transition: all 1s;
  overflow: hidden;
}

@keyframes full {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

.sized>div>.bi {
  font-size: 20px !important;
  color: #64dcdd;
}

.ani {
  animation: downscroll 3s infinite;
  transition: 1s;
}

@keyframes downscroll {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(-30px);
  }
}
/* .animate-colorfill{
  -webkit-text-stroke: 1px whitesmoke; 
   color: transparent;
} */
.bi-arrow-right{
  font-size: 80px;
  color: #64dcdd;
  position: absolute;
}
img{
  width: 100%;
  height: 100%;
}
.bi-github{
  font-size: 30px;
  transition: 0.3s;
}
.bi-github:hover{
  color: #64dcdd;
  filter: drop-shadow(0 0 2px #64dcdd);
}
.cards:hover > .card:not(:hover){
  transform: scale(0.96);
  filter: blur(10px);
}
.btnEff{
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.6s ease-in-out;
  background-color: #64dcdd;
  width: 0%;
  height: 0%;
  
}
.size:hover > .btnEff{
  width: 100%;
  height: 100%;
}
.bi-arrow-up-right{
  font-size: 28px;
  color: #64dcdd;
}
.icons > .bi {
  font-size: 23px;
}
.icons>.bi:hover{
  color: #64dcdd;
  filter: drop-shadow(0 0 5px #64dcdd);
}

.blob-shape {
  animation: changeShape 2s infinite;
}

@keyframes changeShape {
  0% {
      d: path('M26.4,-16C32.8,-4.1,35.6,9,30.6,18.8C25.6,28.6,12.8,35.1,-0.2,35.2C-13.3,35.4,-26.5,29.2,-33,18.5C-39.5,7.8,-39.2,-7.3,-32.6,-19.4C-25.9,-31.4,-13,-40.3,-1.5,-39.4C10,-38.6,20,-27.9,26.4,-16Z');
  }
  100% {
      d: path('M26.4,-16C32.8,-4.1,35.6,9,30.6,18.8C25.6,28.6,12.8,35.1,-0.2,35.2C-13.3,35.4,-26.5,29.2,-33,18.5C-39.5,7.8,-39.2,-7.3,-32.6,-19.4C-25.9,-31.4,-13,-40.3,-1.5,-39.4C10,-38.6,20,-27.9,26.4,-16Z');
  }
}
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #050505;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #050505;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #ffffffd3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #050505;
}

.button:hover {
  background: #ffffffd3
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #05050563;
}

.button:active {
  border: 1px solid #146c54;
}
